<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ClickMilitia</title>
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
<div id="resource">
    <div v-repeat="resource" id="{{name}}" class="resource-button">
        <button class="resource-click" v-if="{{click}} == true " v-on="click: addResource(resource.{{name}},number[0])">
            {{name}}
            <span class="add">{{addSpeed}}</span>/s</br>
            <span class="storage">{{storage}}</span>
            /<span class="maxStorage">{{maxStorage}}</span>
        </button>
        <div class="resource-show" v-if="{{click}} != true ">
            {{name}}
            <span class="add">{{addSpeed}}</span>/s</br>
            <span class="storage">{{storage}}</span>
            /<span class="maxStorage">{{maxStorage}}</span>
        </div>
    </div>
</div>
<div id="population">
    <div id="people" class="">
        <div v-repeat="population" class="population-button" id="{{name}}">
                <button v-if="{{display}} !=false" class="population-click"
                        v-on="click: subWorker(population.{{name}},number[ruler.population])">
                    -{{number[ruler.population]}}
                </button>
                <div >
                    {{name}}
                    <span class="add" v-text="population.{{name}}['addSpeed']"></span>/s</br>
                    <span class="storage" v-text="population.{{name}}['storage']">0</span>
                    /<span class="maxStorage" v-text="population.{{name}}['maxStorage']">200</span>
                </div>
                <button  class="population-click"
                        v-on="click: addWorker(population.{{name}},number[ruler.population])">
                    +{{number[ruler.population]}}
                </button>
        </div>
    </div>
    <div id="militia">
        <div v-repeat="militia" id="{{name}}" class="militia-button">
            <div v-if="{{display}} !=false">
                <button class="population-click"
                        v-on="click: subWorker(militia.{{name}},number[ruler.population])">
                    -{{number[ruler.population]}}
                </button>
                <div>
                    {{name}}</br>
                    <span class="storage" v-text="militia.{{name}}['storage']">0</span>
                    /<span class="maxStorage" v-text="militia.{{name}}['maxStorage']">200</span>
                </div>
                <button class="population-click"
                        v-on="click: addWorker(militia.{{name}},number[ruler.population])">
                    +{{number[ruler.population]}}
                </button>
            </div>
        </div>
    </div>
</div>

<!--js-->
<script src="js/vue.js"></script>
<script src="js/jquery.js"></script>
<script src="js/main.js"></script>
</body>
</html>